@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
  font-family: "DM-Sans", sans-serif;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: [row1-start] 10%;
  grid-template-areas: 
  "logo header"
  "sideFilter menuSection";
}

body{
  margin: 0;
}

.logo {
  grid-area: "logo";
  justify-self: center;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.menuSection{
  grid-area: "menuSection";
  display:flex;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  max-height: 100vh;
  overflow-y: scroll;
}

.header{
  grid-area: "header";
  justify-self: center;
  align-self: center;
}

.card {
  background-color: #1a1a1a;
  border: #1a1a1a solid 1px;
  color: white;
  padding: 2em;
  margin: 2em 0;
  width: 25%;
}

.sideFilter{
  grid-area: "sideFilter";
  max-height: 100vh;
  margin: 2em 0;
}

.sideFilter > h2{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
      display: none;
    }